

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(/pexels-cottonbro-studio-2925306.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}
.text-area{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width:850px;
 padding: 10px;
 height: 350px;
 background-color: rgb(231, 237, 243);
 gap:20px;
 border-radius: 10px;
 box-shadow: 0 0 10px 10px rgb(54, 52, 52);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 1.5rem;
}
.header{
    margin-block: 20px;
    background-color: black;
    color: aliceblue;
    box-shadow: 2px 1px 10px 5px rgb(164, 158, 158);
    border-radius: 20px;
    width: 50%;
    text-align: center;
    border:1px solid white;

}
.author{
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 29, 29);
    text-shadow:0 0 3px rgb(232, 20, 20)

}
.btn button{
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(44, 43, 43);
    color: azure;
    box-shadow: 0 0 20px 2px black;
    transition: 0.5s ease-out
}
.btn button:hover{
    color: rgb(228, 27, 27);
    background-color: rgb(10, 10, 10);

}